<div class="drye-reviews-mars__bar-row">
  <div class="dryeNEW-caption drye-reviews-mars__bar-label">
    {{ rating }}
  </div>

  <div class="drye-reviews-mars__bar-track" aria-hidden="true">
    <div class="drye-reviews-mars__bar-fill" style="width: {{ width }}%;"></div>
  </div>

  <div class="dryeNEW-caption drye-reviews-mars__bar-count">
    {{ count }}
  </div>
</div>