{%- comment -%} Lightweight pass-through for Judge.me preview badge {%- endcomment -%}
 {%- comment -%}
{%- if widget_type == 'preview_badge' and product -%}
  <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}" data-auto-install="false"></div>
{%- endif -%}
{%- endcomment -%}

<!-- Start of Judge.me code -->
      <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}' data-auto-install='false'>
        {{ product.metafields.judgeme.badge }}
      </div>
<!-- End of Judge.me code -->