/* =========================
   Blog Section
   ========================= */
.main-blog {
  margin-bottom: 5vw;
  padding-block: 200px 170px;
}

@media (max-width: 767px) {
  .main-blog {
    margin-bottom: 30px;
    padding-block: 90px;
    overflow: hidden;
  }
}

/* Container */
.main-blog .container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Title & Subtitle */
.main-blog .title {
  font-family: var(--font-heading);
  font-size: 3.125rem;
  font-weight: 300;
  line-height: 116px;
  margin-bottom: 50px;
  text-align: left;
}

@media (max-width: 767px) {
  .main-blog .title {
    margin: 0 0 10px 5px;
    font-size: 60px;
    line-height: 60px;
  }
}

.main-blog .subtitle {
  font-family: var(--font-primary);
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.25rem;
  letter-spacing: -0.06em;
  text-align: left;
}

@media (max-width: 767px) {
  .main-blog .subtitle {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
  }
}

/* Tags */
.main-blog .tags-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-blog .tag-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.04em;
}

.main-blog .tag-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 767px) {
  .main-blog .tag-filter {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-right: -20px;
  }
  .main-blog .tag-filter .tag:last-child {
    margin-right: 20px;
  }
}

.main-blog .tag {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 9px 18px;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.04em;
  background: #dadada;
}

.main-blog .tag.active {
  background: #f3f2f1;
}

.main-blog .tag svg path {
  fill: #111;
}

/* Blog grid */
.main-blog .blog-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;
}

@media (max-width: 1150px) {
  .main-blog .blog-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
}

@media (max-width: 767px) {
  .main-blog .blog-wrapper {
    grid-template-columns: 1fr;
    gap: 40px 20px;
  }
}

/* Blog articles */
.article-wrapper {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

@media (max-width: 767px) {
  .article-wrapper {
    gap: 20px;
    text-align: center;
  }
}

.article-wrapper .image img {
  width: 100%;
  aspect-ratio: 47/39;
  object-fit: cover;
  border-radius: 40px;
}

@media (max-width: 767px) {
  .article-wrapper .image img {
    border-radius: 30px;
  }
}

.article-wrapper .content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .article-wrapper .content {
    gap: 10px;
  }
}

.article-wrapper .date {
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 24px;
  color: rgba(17, 17, 17, 0.65);
  opacity: 0.5;
}

.article-wrapper .article-title {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

@media (max-width: 767px) {
  .article-wrapper .article-title {
    line-height: 30px;
    text-align: left;
  }
}

.article-wrapper .read-more {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: var(--font-primary);
  font-weight: 700;
  color: inherit;
  transition: gap 0.3s;
}

.article-wrapper .read-more:hover {
  gap: 20px;
}
